<div class="titlebar">
    <p class="pull-right"><a href="#" ng-click="ctrl.logout()">Uitloggen <span class="fa fa-sign-out"></span></a></p>
</div>
<div class="flexWrapper">
    <div class="flexContainer">
        <h1>Kilometer cloud</h1>
        <button ng-click="ctrl.start()" class="big green">Meter starten <span class="fa fa-car"></span></button>
        <button ng-click="ctrl.history()" class="big green">Ritten geschiedenis<span class="fa fa-road"></span></button>
    </div>
</div>
<div class="actionbar"></div>