<div class="titlebar"></div>
<div id="loginWrapper" class="flexWrapper">
    <div id="loginContent" class="flexContainer">
        <h1>Kilometer cloud</h1>
        <form ng-submit="vm.doLogin()">
            <div class="input">
                <span class="fa fa-user"></span>
                <input type="text" name="username" id="username" ng-model="vm.username" placeholder="Gebruikersnaam" />
            </div>
            <div class="input">
                <span class="fa fa-key"></span>
                <input type="password" name="password" id="password" ng-model="vm.password" placeholder="Wachtwoord" />
            </div>
            <button type="submit" class="big green">Inloggen</button>
        </form>
    </div>
</div>
<div class="actionbar"></div>