* {
    font-weight: 300;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#tripmeter {
    display: inline-block;
    background-color: white;
    padding: 15px;
    border-bottom-right-radius: 5px;
}

#tripmeter > :last-child {
    margin-bottom: 0;
}

#details {
    display: none;
}

#map {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    text-align: center;
}

#map > span {
    position: absolute;
    top: calc(50vh - 24px);
    left: calc(50vw - 113px);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.titlebar, .actionbar {
    background-color: #67cb74;
    padding: 0 15px;
    color: white;
    min-height: 55px;
}

.titlebar a, .actionbar a {
    color: white;
    text-decoration: none;
}

.title {
    font-weight: 400;
}

.titlebar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.actionbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.angular-google-map-container, .angular-google-map {
    height: calc(100vh - 110px);
    width: 100%;
}

.col33 {
    width: 33%;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .col33 {
        width: 30%;
    }
}

.col33:nth-child(2) {
    text-align: center;
}

.col33:nth-child(3) {
    text-align: right;
}

.flexWrapper {
    height: calc(100% - 110px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginContent h1 {
    margin-top: 0;
}

#loginContent form .input {
    border-bottom: 2px solid #67cb74;
    margin-bottom: 20px;
}

#loginContent form .input input {
    display: inline-block;
    border: 0;
    padding: 5px;
}

button.big.green {
    display: block;
    width: 100%;
    border-radius: 0;
    background-color: #67cb74;
    border: 0;
    padding: 5px;
    cursor: pointer;
    font-size: 15px;
    color:white;
    margin-bottom: 20px;
}

button.big.green:last-child {
    margin-bottom: 0;
}

button.big.green:hover {
    background-color: #5bb561;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead {
    text-align: left;
    color: white;
    margin-bottom: 15px;
}

.table thead th {
    padding: 15px 0;
    background-color: #67cb74;
}

.table tbody tr td {
    padding: 15px 0;
}

.table tbody tr td:first-child, .table thead tr th:first-child {
    padding-left: 15px;
}

.table tbody tr td:last-child {
    padding-right: 15px;
}

.table tbody tr:nth-child(even) td {
    background-color: rgba(105, 203, 120, 0.1);
}

.table tfoot th {
    text-align: left;
    font-weight: bold;
}

.table tfoot th, .table tfoot td {
    padding: 15px 0;
    border-top: 1px solid #67cb74;
}

.container {
    padding: 0 15px;
}

.wrapper {
    position: fixed;
    top: 55px;
    left: 0;
    right: 0;
    bottom: 55px;
    overflow: auto;
}

.pagination {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.pagination li {
    display:inline-block;
}

.pagination li > a {
    margin-left: -1px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #67cb74;
}

.pagination li:first-child > a {
    margin-left: 0;
}

.pagination li.disabled > a, .pagination li.active > a {
    color: #ccc;
    cursor: default;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label:first-child {
    float: left;
    width: 25%;
}

.form-group input[type="text"] {
    float: right;
    width: 75%;
}

#routeInfo p {
    float: left;
    width: 25%;
    margin: 0;
}

#routeInfo b {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    #routeInfo p {
        float: none;
        width: 100%;
    }
}

.angular-google-map#routeViewMap {
    margin-top: 15px;
    display: block;
}