* {
    font-weight: 300;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#tripmeter {
    display: inline-block;
    background-color: white;
    padding: 15px;
    border-bottom-right-radius: 5px;
}

#tripmeter > :last-child {
    margin-bottom: 0;
}

#details {
    display: none;
}

#map {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    text-align: center;
}

#map > span {
    position: absolute;
    top: calc(50vh - 24px);
    left: calc(50vw - 113px);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.titlebar, .actionbar {
    background-color: #67cb74;
    padding: 0 15px;
    color: white;
    min-height: 55px;
}

.titlebar a, .actionbar a {
    color: white;
    text-decoration: none;
}

.title {
    font-weight: 400;
}

.actionbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.angular-google-map-container, .angular-google-map {
    height: calc(100vh - 110px);
    width: 100%;
}

.col33 {
    width: 33%;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .col33 {
        width: 30%;
    }
}

.col33:nth-child(2) {
    text-align: center;
}

.col33:nth-child(3) {
    text-align: right;
}

.flexWrapper {
    height: calc(100% - 110px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#loginContent h1 {
    margin-top: 0;
}

#loginContent form .input {
    border-bottom: 2px solid #67cb74;
    margin-bottom: 20px;
}

#loginContent form .input input {
    display: inline-block;
    border: 0;
    padding: 5px;
}

button.big.green {
    display: block;
    width: 100%;
    border-radius: 0;
    background-color: #67cb74;
    border: 0;
    padding: 5px;
    cursor: pointer;
    font-size: 15px;
    color:white;
    margin-bottom: 20px;
}

button.big.green:last-child {
    margin-bottom: 0;
}
