* {
    font-weight: 300;
}

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    height: 100%;
    margin: 0;
}

#wrapper {
    background-color: #67cb74;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.round-button {
    width:25%;
    margin-left: -20px;
}

@media screen and (max-width: 768px) {
    .round-button {
        width: 90%;
    }
}

.round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    border:10px solid #c6ebcb;
    overflow:hidden;
    background: #ff9933;
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
    background:#e67300;
}
.round-button a {
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;
    font-size: 2em;
    text-align:center;
    color:#e2eaf3;
    text-decoration:none;
}

#tripmeter {
    display: inline-block;
    background-color: white;
    padding: 15px;
    border-bottom-right-radius: 5px;
}

#tripmeter > :last-child {
    margin-bottom: 0;
}

#details {
    display: none;
}

#map {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    text-align: center;
}

#map > span {
    position: absolute;
    top: calc(50vh - 24px);
    left: calc(50vw - 113px);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.titlebar, .actionbar {
    background-color: #67cb74;
    padding: 0 15px;
    color: white;
}

.titlebar a, .actionbar a {
    color: white;
    text-decoration: none;
}

.title {
    font-weight: 400;
}

.actionbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.angular-google-map-container, .angular-google-map {
    height: 100%;
    width: 100%;
}
